@using ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<App.Data.DTO.P902.AppConclusionListDTO>
@addTagHelper *, ReflectionIT.Mvc.Paging

<div class="content-list-wrapper" data-pgparams="@ViewBag.FormParamList">
    <div class="content-list content-list-header">
        <div class="content-list-edit"></div>
        <div class="content-list-item grid-container">
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.ModifiedOn)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.DocNum)
                    </p>
                </div>
            </div>

            @*<div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.Name)
                    </p>
                </div>
            </div>*@
            
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.AppConclusionStatus)
                    </p>
                </div>
            </div>

        </div>
        <div class="content-list-delete"></div>
    </div>

    @foreach (var item in Model)
    {
        <div class="content-list">
            <a class="content-list-link">
                <div class="content-list-item grid-container-nested">
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.ModifiedOn)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>@Html.DisplayFor(modelItem => item.DocNum)</p>
                        </div>
                    </div>
                    @*<div class="grid">
                        <div class="grid-inner">
                            <p>@Html.DisplayFor(modelItem => item.Name)</p>
                        </div>
                    </div>*@
                    <div class="grid">
                        <div class="grid-inner">
                            <p>@Html.DisplayFor(modelItem => item.AppConclusionStatus)</p>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    }

</div>

<nav>
    <vc:pager paging-list="@Model" />
</nav>
