@using ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<App.Data.DTO.MSG.MessageListDTO>
@addTagHelper *, ReflectionIT.Mvc.Paging


<div class="content-list-wrapper" data-pgparams="@ViewBag.FormParamList">
    <div class="content-list content-list-header">
        <div class="content-list-edit"></div>
        <div class="content-list-item grid-container">
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.MessageState)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.RegNumDate)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.MessageNumDate)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.EdrpouOrInn)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.OrgName)
                    </p>
                </div>
            </div>
        </div>
        <div class="content-list-delete"></div>
    </div>

    @foreach (var item in Model)
    {
        <div class="content-list">
            <div class="content-list-edit">
                <a asp-area="Msg" asp-controller="MessageTypes" asp-action="Details" class="btn-link btn btn-icon btn-square icon-md icon-eye"
                   asp-route-id="@item.Id">
                </a>
            </div>
            <a class="content-list-link">
                <div class="content-list-item grid-container-nested">
                    <div class="grid">
                        <div class="grid-inner">
                            <p>@Html.DisplayFor(modelItem => item.MessageState)</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>@Html.DisplayFor(modelItem => item.RegNumDate)</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>@Html.DisplayFor(modelItem => item.MessageNumDate)</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>@Html.DisplayFor(modelItem => item.EdrpouOrInn)</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>@Html.DisplayFor(modelItem => item.OrgName)</p>
                        </div>
                    </div>
                </div>
            </a>
            
            @if (item.MessageStateEnum == "Project")
            {
                <div class="content-list-delete">
                    <a asp-area="Msg" asp-controller="MessageTypes" asp-action="Delete" asp-route-id="@item.Id"
                       class="btn-link btn btn-icon btn-square icon-md icon-remove">
                    </a>
                </div>
            }

        </div>
    }

</div>

<nav>
    <vc:pager paging-list="@Model" />
</nav>