@model App.Data.DTO.DOS.EDocumentDetailsDTO

<script>
    var uploadFormContainer = $("#uploadForm"),
        uploadFormLink = "@(Url.Action("UploadForm", "FileStore", new {Area = "", EntityId = Model.Id}))&EntityName=EDocument",
        fileListLink = "@(Url.Action("List", "FileStore", new {Area = "", EntityId = Model.EntityId, EntityName = "EDocument", pg_PartialViewName = "ListPayment"}))",
        fileListContainer = $("#fileList");

    mt.getAjaxContainer(uploadFormContainer, uploadFormLink);
    mt.getAjaxContainer(fileListContainer, fileListLink);

    function sendPayment(e, btn) {
        btn = $(this);
        var disableAttr = $(this).attr("disabled");
        if (typeof disableAttr !== typeof undefined && disableAttr !== false) {
            return;
        }

        $(this).attr("disabled", "disabled");
        var url = $('#btnSendPayment').attr("href");

        $.ajax({
            type: "Post",
            url: url,
            complete: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.status);
                console.log(textStatus);
                console.log(errorThrown);
            },
            error: function (data) {
                console.log('error', data);
                $(btn).prop("disabled", false);
                var msg = "<p>Неможливо відправити документи</p>";
                mt.createDialog(e, msg, refuseDialog);
            },
            success: function (data) {
                if (data.success === false) {
                    var msg = "<p>Неможливо відправити документи</p>";
                    mt.createDialog(e, msg, refuseDialog);
                    $(btn).prop("disabled", false);
                    return;
                }
                console.log('success', data);
                $(btn).prop("disabled", false);
                var container = $('#paymentPartial');
                mt.tryLoadContainer(container, container.attr('data-tab-container-url'));
            }
        });
    }

    function refuseDialog() {
        $(btn).prop("disabled", false);
    }
</script>

@if (!string.IsNullOrEmpty(Model.Comment))
{
    <div class="content-item-inner no-border">
        <div class="content-details-wide">
            <div class="content-details-group">
                <label>@Html.DisplayNameFor(model => model.Comment)</label>
                <p>@Html.DisplayFor(model => model.Comment)</p>
            </div>
        </div>
    </div>
}

<div class="content-partial" data-tab-empty>
    <div class="upload-edit">
        @if (Model.EDocumentStatus == "RequiresPayment")
        {
            <div id="uploadForm">

            </div>
        }

        <div id="fileList" class="fileList">

        </div>
    </div>
</div>

@if (Model.EDocumentStatus == "RequiresPayment")
{
    if (ViewBag.AppType == "PRL")
    {
        <div class="content-submit-holder btn-holder">
            <button id="btnSendPayment" class="btn btn-secondary btn-panel" type="button"
                    href="@Url.Action("SendPayment", "PrlApp", new {Area="Prl", appId = Model.EntityId})"
                    onclick="sendPayment(event, this)">
                <span class="icon icon-huge icon-document"></span>
                <span> Відправити </span>
            </button>
        </div>
    }
    else if (ViewBag.AppType == "IML")
    {
        <div class="content-submit-holder btn-holder">
            <button id="btnSendPayment" class="btn btn-secondary btn-panel" type="button"
                    href="@Url.Action("SendPayment", "ImlApp", new {Area="Iml", appId = Model.EntityId})"
                    onclick="sendPayment(event, this)">
                <span class="icon icon-huge icon-document"></span>
                <span> Відправити </span>
            </button>
        </div>
    }
    else if (ViewBag.AppType == "TRL")
    {
        <div class="content-submit-holder btn-holder">
            <button id="btnSendPayment" class="btn btn-secondary btn-panel" type="button"
                    href="@Url.Action("SendPayment", "TrlApp", new {Area="Trl", appId = Model.EntityId})"
                    onclick="sendPayment(event, this)">
                <span class="icon icon-huge icon-document"></span>
                <span> Відправити </span>
            </button>
        </div>
    }
}
