@model IEnumerable<App.Data.DTO.BRN.BranchListDTO>
@inject App.Core.Mvc.Helpers.SelectListHelper Sel


<script>
    $(document).ready(function () {

        var mpdId = [];

        $(".content-list input").each(function(index, value) {
            mpdId.push($(value).val());
        });

        $("#create-tds").on("click",
            function(e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("CreateTds", "Branch")',
                    data: {
                        appId: '@ViewBag.ApplicationId',
                    },

                    success: function(data) {
                        if (data.success) {

                            $.each(mpdId, function (index, value2) {
                                debugger;
                                var mpd = $("input[value= '" + value2 + "']").closest(".content-list");
                                if (mpd.find(".dls").is(':empty')) {
                                    mpd.find('.tds').text('Доручення ТДС створено');
                                }
                                    
                               
                            });

                        } else {
                            alert(data.ErrorMessage);
                        }
                    }
                });
            });

        $("#confirm").on("click",
            function(e) {
                e.preventDefault();

                var activityTypeItems = [];

                $('.branch li.selected input').each(function(index, value) {
                    activityTypeItems.push($(value).val());
                });
                var selectedItemId = JSON.stringify(activityTypeItems);
          
                $.ajax({
                    url: '@Url.Action("CreateDls", "Branch")',
                    data: {
                        selectedItemId
                    },

                    success: function(data) {
                        if (data.success) {
                            $(".multiSelectBranchList").hide();
                            $("#create-tds").show();
                            $("#create-dls").show();

                            $.each(activityTypeItems,
                                function (index, value1) {
                                   
                                    $.each(mpdId, function (index, value2) {
                                       
                                        if (value1 === value2) {
                                          
                                            var mpd = $("input[value= '" + value2 + "']").closest(".content-list");
                                            if (mpd.find(".tds").is(':empty')) {
                                                mpd.find(".dls").text('Доручення ДЛС створено');
                                            }
                                           /// mpd.find(".tds:empty").hide();
                                        }
                                    });

                                });

                        } else {
                            alert(data.ErrorMessage);
                        }

                    }
                });
            });

        $("#create-dls").on("click",
            function() {
                $(this).hide();
                $("#create-tds").hide();
                $(".multiSelectBranchList").show();
            });
    })
</script>



<div class="content-partial-header">
    @{
        if (ViewBag.IsAddable)
        {
            <a class="content-item-btn data-tab icon-sm icon-add"
               data-tab
               href="@Url.Action("Edit", "Branch", new {Area = "BRN"})?appId=@ViewBag.ApplicationId&sort=@ViewBag.sort"
               data-title="Додати МПД"
               data-tooltipleft="1">
            </a>
        }
    }
</div>
<div class="content-list-wrapper" data-pgparams="@ViewBag.FormParamList">
    <div class="content-list content-list-header">
        <div class="content-list-edit"></div>
        <div class="content-list-item grid-container">
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.Name)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.KoatuuCode)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.BranchActivity)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.MessageNumDate)
                    </p>
                </div>
            </div>
            @*<div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.Status)
                    </p>
                </div>
            </div>*@
            @if (ViewBag.appType == "TRL")
            {
                <div class="grid" data-grid="2">
                    <div class="grid-inner">
                        <p class="content-list-sortable">
                            @Html.DisplayNameFor(model => model.PowerOfAttorney)
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="content-list-delete"></div>
    </div>
    @foreach (var item in Model)
    {
        
        <div class="content-list" >
            <input type="hidden" value="@item.Id" />
            <div class="content-list-edit">
                <a class="btn-link btn btn-icon btn-square icon-md icon-eye"
                   asp-area="BRN"
                   asp-action="Details"
                   asp-controller="Branch"
                   asp-route-id="@item.Id"
                   data-title="Перегляд"
                   data-tooltipright='1'>
                </a>

            </div>
            <a class="content-list-link">
                <div class="content-list-item grid-container-nested">
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.Name)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.KoatuuCode)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Sel.Enum("BranchActivity", p => p.Code == item.BranchActivity).FirstOrDefault()?.Text
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.MessageNumDate)
                            </p>
                        </div>
                    </div>
                    @*<div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.Status)
                            </p>
                        </div>
                    </div>*@
                    @if (item.AppType == "TRL")
                    {
                        <div class="grid">
                            <div class="grid-inner">
                                @if (item.CreateTds)
                                {
                                    <p>Доручення ТДС створено</p>
                                }
                                else
                                {
                                    <p class="tds"></p>
                                }
                                @if (item.CreateDls)
                                {
                                    <p>Доручення ДЛС створено</p>
                                }
                                else
                                {
                                    <p class="dls"></p>
                                }
                            </div>
                        </div>
                    }
                </div>
            </a>
            <div class="content-list-delete">
                @if (item.isEditable == true)
                {
                    <a class="btn btn-icon btn-square icon-md icon-remove"
                       asp-area="BRN"
                       asp-action="DeleteBranch"
                       asp-controller="Branch"
                       data-title="Видалити"
                       data-tooltipleft='1'
                       asp-route-id="@item.Id">
                    </a>
                }
            </div>
        </div>

    }
    @if (ViewBag.appState == "InReview" && ViewBag.appType =="TRL" && Model.Any() && ViewBag.Expertise == true && ViewBag.Decision == false)
    {
        <div class="content-submit-holder btn-holder btn-holder-right">
            <input type="submit" value="Створити доручення ДЛС" id="create-dls" class="btn btn-secondary btn-fill"/>
            <input type="submit" value="Створити доручення ТДС" id="create-tds" class="btn btn-secondary btn-fill"/>
        </div>
        <div class="content-submit-holder btn-holder btn-holder-right multiSelectBranchList" style="display: none">
            <div class="content-edit branch">
                <select id="branches-select"
                        data-placeholder="Оберіть МПД"
                        class="multiselect"
                        multiple
                        asp-items="@ViewBag.multiSelectBranchList"
                        autocomplete="off"></select>
            </div>
            <input type="submit" value="Підтвердити" id="confirm" class="btn btn-secondary btn-fill"/>

        </div>
    }
</div>