@model App.Data.DTO.BRN.BranchDetailsDTO

@{
    ViewData["Title"] = "МПД";
}

@section Buttons{
    @if (ViewBag.IsEditable)
    {
        <a class="content-item-btn icon-md icon-edit-line"
           asp-action="Edit"
           asp-route-id="@Model.Id"
           asp-route-appId="@ViewBag.AppId"
           data-tab-main
           data-title="Редагувати проект"
           data-tooltipleft='1'>
        </a>
    }
}
@section Scripts
    {
    <script>

        //breadCrumb test json
        var breadCrumbList = {
            homepage: {
                name: 'Головна сторінка',
                link: 'http://localhost:5060',
                position: 0
            },
            list: [
                {
                    name: 'ПОДАННЯ ЗАЯВ1',
                    link: 'http://localhost:5060/APP/AppApply',
                    position: 1
                },
                {
                    name: 'ЗАЯВА ПРО ОТРИМАННЯ ЛІЦЕНЗІЇ НА ПРОВАДЖЕННЯ ДІЯЛЬНОСТІ1',
                    link: 'http://localhost:5060/Prl/PrlApp/Details/2c278e6b-5f1e-400b-a11e-c07fc625cf42',
                    position: 2
                },
                {
                    name: 'Місце провадження діяльності1',
                    link: 'http://localhost:5060/BRN/Branch/Details/bfe3aaee-baf4-4c4b-9d9e-e8a75e279b3e',
                    position: 3
                },
                {
                    name: 'Інформація про заявника1',
                    link: 'http://localhost:5060/MSG/Message',
                    position: 4
                }
            ]
        };


       var resultContainer = $('#content-tree'),
            checkedItems = @Json.Serialize(Model.OperationListForm),
            cheсkboxTemplate = @Json.Serialize(ViewBag.OperationListJson);

        mt.buildContentTree(cheсkboxTemplate, checkedItems, resultContainer);
    </script>
}
<div class="content-item-holder">
    <div class="content-item">
        <div class="content-item-header">
            <i class="icon icon-xlg icon-building"></i>
            <h2>Місце провадження діяльності</h2>
        </div>
        <div class="content-item-details">
            <div class="content-item-inner content-details-wrapper col-2">
                <div class="content-details">
                    <div class="content-details-group">
                        <label>@Html.DisplayNameFor(model => model.Name)</label>
                        <p>@Html.DisplayFor(model => model.Name)</p>
                    </div>
                </div>
                <div class="content-details">
                    <div class="content-details-group">
                        <label>@Html.DisplayNameFor(model => model.PhoneNumber)</label>
                        <p>@Html.DisplayFor(model => model.PhoneNumber)</p>
                    </div>
                </div>
                <div class="content-details">
                    <div class="content-details-group">
                        <label>@Html.DisplayNameFor(model => model.EMail)</label>
                        <p>@Html.DisplayFor(model => model.EMail)</p>
                    </div>
                </div>
                <div class="content-details">
                    <div class="content-details-group">
                        <label>@Html.DisplayNameFor(model => model.FaxNumber)</label>
                        <p>@Html.DisplayFor(model => model.FaxNumber)</p>
                    </div>
                </div>
            </div>
            <div class="content-item-inner content-details-wrapper col-2">
                <div class="content-details">
                    <div class="content-details-group">
                        <label>@Html.DisplayNameFor(model => model.Address)</label>
                        <p>@Html.DisplayFor(model => model.Address)</p>
                    </div>
                </div>
                <div class="content-details">
                    <div class="content-details-group">
                        <label>@Html.DisplayNameFor(model => model.PostIndex)</label>
                        <p>@Html.DisplayFor(model => model.PostIndex)</p>
                    </div>
                </div>
                @if (Model.AppType == "TRL")
                {
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>@Html.DisplayNameFor(model => model.Lpz)</label>
                            <p>@Html.DisplayFor(model => model.Lpz)</p>
                        </div>
                    </div>
                }
                <div class="content-details">
                    <div class="content-details-group">
                        <label>@Html.DisplayNameFor(model => model.AdressEng)</label>
                        <p>@Html.DisplayFor(model => model.AdressEng)</p>
                    </div>
                </div>
            </div>

            @if (Model.AppType == "PRL")
            {
                <div class="content-item-inner content-readonly">
                    <div class="checkbox-group-details">
                        <input class="checkbox" asp-for="PRLIsAvailiableProdSites" />
                        <label readonly asp-for="PRLIsAvailiableProdSites"></label>
                    </div>
                    <div class="checkbox-group-details">
                        <input class="checkbox" asp-for="PRLIsAvailiableQualityZone" />
                        <label asp-for="PRLIsAvailiableQualityZone"></label>
                    </div>
                    <div class="checkbox-group-details">
                        <input class="checkbox" asp-for="PRLIsAvailiableStorageZone" />
                        <label asp-for="PRLIsAvailiableStorageZone"></label>
                    </div>
                    <div class="checkbox-group-details">
                        <input class="checkbox" asp-for="PRLIsAvailiablePickupZone" />
                        <label asp-for="PRLIsAvailiablePickupZone"></label>
                    </div>
                </div>
                <div class="content-inner-header">
                    Перелік лікарських форм та виробничих операцій, які заплановані до виробництва за певним місцем провадження діяльності та потребують ліцензування
                </div>
                <div id="content-tree" class="content-readonly content-tree"></div>
            }
            else if (Model.AppType == "TRL")
            {
                <div class="content-item-inner content-readonly content-details-wrapper col-2">
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>@Html.DisplayNameFor(model => model.TrlActivityTypeName)</label>
                            <p>@Html.DisplayFor(model => model.TrlActivityTypeName)</p>
                        </div>
                    </div>
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>@Html.DisplayNameFor(model => model.BranchTypeName)</label>
                            <p>@Html.DisplayFor(model => model.BranchTypeName)</p>
                        </div>
                    </div>
                    <div class="content-details">
                        <div class="content-details-group">
                        </div>
                    </div>
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>@Html.DisplayNameFor(model => model.PharmacyName)</label>
                            <p>@Html.DisplayFor(model => model.PharmacyName)</p>
                        </div>
                    </div>
                </div>
                <div class="content-item-inner content-readonly content-details-wrapper col-2">
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>@Html.DisplayNameFor(model => model.TotalArea)</label>
                            <p>@Html.DisplayFor(model => model.TotalArea)</p>
                        </div>
                    </div>
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>@Html.DisplayNameFor(model => model.AreaOfCommonPremises)</label>
                            <p>@Html.DisplayFor(model => model.AreaOfCommonPremises)</p>
                        </div>
                    </div>
                </div>
                <div class="content-item-inner content-readonly content-details-wrapper col-2">
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>@Html.DisplayNameFor(model => model.SpecialConditions)</label>
                            <p>@Html.DisplayFor(model => model.SpecialConditions)</p>
                        </div>
                    </div>
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>@Html.DisplayNameFor(model => model.AsepticConditionsName)</label>
                            <p>@Html.DisplayFor(model => model.AsepticConditionsName)</p>
                        </div>
                    </div>
                </div>
            }
            else if (Model.AppType == "IML")
            {
                <div class="content-item-inner content-readonly">
                    <div class="checkbox-group-details">
                        <input class="checkbox" asp-for="IMLIsAvailiableStorageZone" />
                        <label readonly asp-for="IMLIsAvailiableStorageZone"></label>
                    </div>
                    <div class="checkbox-group-details">
                        <input class="checkbox" asp-for="IMLIsAvailiablePermitIssueZone" />
                        <label readonly asp-for="IMLIsAvailiablePermitIssueZone"></label>
                    </div>
                    <div class="checkbox-group-details">
                        <input class="checkbox" asp-for="IMLIsAvailiableQuality" />
                        <label readonly asp-for="IMLIsAvailiableQuality"></label>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
