@using ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<App.Data.DTO.IML.ImlMedicineRegisterListDTO>
@addTagHelper *, ReflectionIT.Mvc.Paging
<div class="content-list-wrapper" data-pgparams="@ViewBag.FormParamList">
    <div class="content-list content-list-header">
        <div class="content-list-item grid-container">
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.MedicineName)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.RegisterNumber)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.MedicineNameEng)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.ProducerName)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.SupplierName)
                    </p>
                </div>
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="content-list">
            <a class="content-list-link">
                <div class="content-list-item grid-container-nested">
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.MedicineName)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.RegisterNumber)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.MedicineNameEng)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.ProducerName)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.SupplierName)
                            </p>
                        </div>
                    </div>

                </div>
            </a>
        </div>
    }
</div>
<nav>
    <vc:pager paging-list="@Model" />
</nav>