@using ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<App.Data.DTO.IML.ImlLicenseListDTO>
@addTagHelper *, ReflectionIT.Mvc.Paging

<div class="content-list-wrapper" data-pgparams="@ViewBag.FormParamList">
    <div class="content-list content-list-header">
        <div class="content-list-edit"></div>
        <div class="content-list-item grid-container">
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.LicStateName)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.LicenseNumber)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.LicenseDate)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.Branches)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.OrgName)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.EDRPOU)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.Address)
                    </p>
                </div>
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
    <div class="content-list">
        <div class="content-list-edit">
            <a asp-area="IML" asp-controller="ImlLicense" asp-action="Details" class="btn-link btn btn-icon btn-square icon-md icon-eye"
               asp-route-id="@item.Id"
               data-title="Перегляд"
               data-tooltipright='1'>
            </a>
        </div>
        <a class="content-list-link">
            <div class="content-list-item grid-container-nested">
                <div class="grid">
                    <div class="grid-inner">
                        <p class="col">
                            @if (item.LicState == "Canceled")
                            {
                                <i class="icon icon-xs icon-close mb-sm danger-font"></i>
                            }
                            else if (item.LicState == "Active")
                            {
                                <i class="icon icon-sm icon-check mb-sm success-font"></i>
                            }
                            @Html.DisplayFor(modelItem => item.LicStateName)
                        </p>
                    </div>
                </div>
                @*<div class="grid">
                    <div class="grid-inner">
                        <p>
                            @Html.DisplayFor(modelItem => item.LicStateName)
                        </p>
                    </div>
                </div>*@
                <div class="grid">
                    <div class="grid-inner">
                        <p>@Html.DisplayFor(modelItem => item.LicenseNumber)</p>
                    </div>
                </div>
                <div class="grid">
                    <div class="grid-inner">

                        <p>@Html.DisplayFor(modelItem => item.LicenseDate)</p>
                    </div>
                </div>
                <div class="grid">
                    <div class="grid-inner">
                        <p>@Html.DisplayFor(modelItem => item.Branches)</p>
                    </div>
                </div>
                <div class="grid">
                    <div class="grid-inner">
                        <p>@Html.DisplayFor(modelItem => item.OrgName)</p>
                    </div>
                </div>
                <div class="grid">
                    <div class="grid-inner">
                        <p>@Html.DisplayFor(modelItem => item.EDRPOU)</p>
                    </div>
                </div>
                <div class="grid">
                    <div class="grid-inner">
                        <p>@Html.DisplayFor(modelItem => item.Address)</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    }

</div>

<nav>
    <vc:pager paging-list="@Model" />
</nav>
