@model App.Data.DTO.PRL.PrlAppDetailDTO

@{
    ViewData["Title"] = "Заява про отримання ліцензії на провадження діяльності";
}

@section Buttons{
    @if (Model.AppState == "Reviewed" && (Model.DecisionType == "Denied" || Model.DecisionType == "WithoutConsideration"))
    {
        <a class="content-item-btn icon-md icon-edit-line"
           asp-action="CreateNewApplication"
           asp-route-id="@Model.Id"
           asp-route-appType="@Model.AppType"
           data-tab-main
           data-title="Створити заяву на основі данної"
           data-tooltipleft='1'>
        </a>
    }
}

<div class="content-item-holder">
    @Html.Partial($"_ApplicationPartial", Model)
    <div class="content-item">
        <div class="content-item-header">
            <i class="icon icon-xlg icon-timeline-pin"></i>
            <h2>Місця провадження діяльності</h2>
        </div>
        <div class="content-partial" data-tab-container-url="@Url.Action("List", "Branch", new { Area = "BRN" })?appId=@Model.Id"></div>
    </div>
    <div class="content-item">
        <div class="content-item-header">
            <i class="icon icon-xlg icon-users"></i>
            <h2>Контрактні контрагенти</h2>
        </div>
        <div class="content-partial" data-tab-container-url="@Url.Action("List", "PrlContractor", new { Area = "PRL" })?appId=@Model.Id&sort=RenewLicenseApplication"></div>
    </div>
    <div class="content-item">
        <div class="content-item-header">
            <i class="icon icon-xlg icon-admin"></i>
            <h2>Уповноважені особи</h2>
        </div>
        <div class="content-partial" data-tab-container-url="@Url.Action("List", "AppAssignee", new { Area = "APP" })?appId=@Model.Id&appType=PRL&sort=RenewLicenseApplication"></div>
    </div>
    <div class="content-item">
        <div class="content-item-header">
            <i class="icon icon-xlg icon-clipboard-list"></i>
            <h2>Досьє</h2>
        </div>
        <div class="content-partial" data-tab-container-url="@Url.Action("List", "EDocument", new { Area = "DOC" })?appId=@Model.Id&sort=RenewLicenseApplication"></div>
    </div>
    @if (Model.BackOfficeAppState != "Project" && Model.AppState != "Project")
    {
        <div class="content-item">
            <div class="content-item-header">
                <i class="icon icon-xlg icon-clipboard-file"></i>
                <h2 id="eDocument">Додаткові документи до заяви</h2>
            </div>
            <div class="content-partial" data-tab-container-url="@Url.Action("ListAdditionDocuments", "EDocument", new { Area = "DOC" })?appId=@Model.Id"></div>
        </div>
    }
</div>