@model IEnumerable<App.Data.DTO.IML.ImlMedicineListDTO>

<div class="content-partial-header">
    @if (ViewBag.IsAddable == true)
    {
        <a class="content-item-btn data-tab icon-sm icon-add"
           data-tab
           asp-area="IML"
           asp-action="Edit"
           asp-controller="ImlMedicine"
           asp-route-appId="@ViewBag.ApplicationId"
           data-title="Додати лікарський засіб"
           data-tooltipleft="1">
        </a>
    }
</div>
<div class="content-list-wrapper" data-pgparams="@ViewBag.FormParamList">
    <div class="content-list content-list-header">
        <div class="content-list-edit"></div>
        <div class="content-list-item grid-container">
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.MedicineName)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.RegisterNumber)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.MedicineNameEng)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.ProducerName)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.SupplierName)
                    </p>
                </div>
            </div>
        </div>
        <div class="content-list-delete"></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="content-list">
            <div class="content-list-edit">
                @if (item.IsEditable == true)
                {
                    <a class="btn-link btn btn-icon btn-square icon-md icon-edit-line"
                       asp-area="IML"
                       asp-action="Edit"
                       asp-controller="ImlMedicine"
                       asp-route-id="@item.Id"
                       asp-route-appId="@ViewBag.ApplicationId"
                       data-title="Редагування"
                       data-tooltipright='1'>
                    </a>
                }
                else
                {
            <a class="btn-link btn btn-icon btn-square icon-md icon-eye"
               asp-area="IML"
               asp-action="Details"
               asp-controller="ImlMedicine"
               asp-route-id="@item.Id"
               data-title="Перегляд"
               data-tooltipright='1'>
            </a>
                }
            </div>
            <a class="content-list-link">
                <div class="content-list-item grid-container-nested">
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.MedicineName)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.RegisterNumber)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.MedicineNameEng)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.ProducerName)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.SupplierName)
                            </p>
                        </div>
                    </div>
                    
                </div>
            </a>
            <div class="content-list-delete">
                @if (item.IsEditable == true)
                {
                    <a class="btn btn-icon btn-square icon-md icon-remove"
                       asp-area="IML"
                       asp-action="Delete"
                       asp-controller="ImlMedicine"
                       data-title="Видалити"
                       data-tooltipleft='1'
                       asp-route-id="@item.Id">
                    </a>
                }
            </div>
        </div>
    }
</div>