@model App.Data.DTO.MSG.MsgShortDTO
@inject App.Core.Mvc.Helpers.SelectListHelper Sel
<h3>Дані про повідомлення</h3>

<form method="post"
      data-ajax-url="@Url.Action("RegisterMessage", "MessageTypes")"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-complete="completed" class="content-item-edit">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="MessageType" />
    <input type="hidden" asp-for="IsImlLicense" />
    <input type="hidden" asp-for="IsPrlLicense" />
    <input type="hidden" asp-for="IsTrlLicense" />

    <div class="input-group">
        <input class="input"
               autocomplete="off"
               disabled="disabled"
               value="@Sel.Enum("MessageType", p=> p.Code == Model.MessageType).SingleOrDefault()?.Text" />
        <span class="input-group-bar"></span>
        <label asp-for="MessageType"></label>
        <span class="asp-validation"></span>
    </div>

    <div class="input-group datepicker-group">
        <input class="input datepicker"
               asp-for="RegDate"
               type="text"
               autocomplete="off" />
        <span class="input-group-bar"></span>
        <label asp-for="RegDate"></label>
        <span asp-validation-for="RegDate" class="asp-validation"></span>
    </div>

    <div class="input-group">
        <input class="input"
               asp-for="RegNumber"
               type="text"
               autocomplete="off" />
        <span class="input-group-bar"></span>
        <label asp-for="RegNumber"></label>
        <span asp-validation-for="RegNumber" class="asp-validation"></span>
    </div>

    <div class="input-group">
        <input class="input" asp-for="PerformerName"
               validate-not-empty
               autocomplete-allowcreate
               autocomplete-idinput-name="PerformerId"
               autocomplete-init-id="PerformerOfExpertiseId"
               autocomplete-url="@Url.Action("AutoCompletePerformer", "MessageTypes", new {Area = "MSG"})"
               autocomplete-onselect="mt.onChangeUrl($('#PerformerId'))"
               autocomplete-onblur="if (!value) { mt.onChangeUrl($('#PerformerId')) }" />
        <span class="input-group-bar"></span>
        <input asp-for="PerformerId" type="hidden" onchange-url="@Url.Action("AutoCompletePerformer", "MessageTypes")" />
        <label>@Html.DisplayNameFor(p => p.PerformerName)</label>
        <span class="asp-validation"></span>
    </div>

    <div class="content-submit-holder btn-holder btn-holder-right">
        <a href="#" onclick="mt.closeModal()" class="btn btn-text btn-danger">Відмінити</a>
        <input type="submit" value="Створити" class="btn btn-secondary btn-fill" />
    </div>
</form>

<script>
    completed = function (xhr, status) {
        var json = JSON.parse(xhr.responseText);
        if (status === "success" && json.success === true) {
            mt.closeModal();
            location.reload();
        }else if (json.success === false) {
            setError('RegNumber', json.errorMessage);
        }
    }

    function setError(id, message) {
        var span = $("span[data-valmsg-for=\"" + id + "\"]");
        if (span && span.length > 0) {
            $(span).html(message);
            if (message && message != "") {
                $(span).removeClass("field-validation-valid");
                $(span).addClass("field-validation-no-valid active");
            } else {
                $(span).removeClass("field-validation-no-valid");
                $(span).addClass("field-validation-valid");
            }
        }
    }
    $(document).ready(function () {
        if ($('*').is('[autocomplete-url]')) {
            $('[autocomplete-url]').each(function () {
                mt.autocompleteEl($(this));
                mt.onLoadCheckAllInputs();
            });
        }
    });

</script>