@model IEnumerable<App.Data.DTO.APP.AppAssigneeListDTO>

    <div class="content-partial-header">
        @if (ViewBag.IsAddable == true)
        {
            if (ViewBag.AppType == "TRL")
            {
                <a class="content-item-btn data-tab icon-sm icon-add"
                   data-tab
                   asp-area="APP"
                   asp-action="Edit"
                   asp-controller="AppAssignee"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-appId="@ViewBag.appId"
                   asp-route-appType="@ViewBag.AppType"
                   data-title="Додати Завідувача/Уповноважену особу"
                   data-tooltipleft="1">
                </a>
            }
            else
            {
                <a class="content-item-btn data-tab icon-sm icon-add"
                   data-tab
                   asp-area="APP"
                   asp-action="Edit"
                   asp-controller="AppAssignee"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-appId="@ViewBag.appId"
                   asp-route-appType="@ViewBag.AppType"
                   data-title="Додати уповноважену особу"
                   data-tooltipleft="1">
                </a>
            }
        }
    </div>
<div class="content-list-wrapper" data-pgparams="@ViewBag.FormParamList">
    <div class="content-list content-list-header">
        <div class="content-list-edit"></div>
        <div class="content-list-item grid-container">
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.FIO)
                    </p>
                </div>
            </div>
            @if (ViewBag.AppType == "TRL")
            {
                <div class="grid" data-grid="1">
                    <div class="grid-inner">
                        <p class="content-list-sortable">
                            @Html.DisplayNameFor(model => model.AssigneTypeName)
                        </p>
                    </div>
                </div>
            }
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.NameOfPosition)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.DateOfAppointment)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="2">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.DisplayNameFor(model => model.ListOfBranchsNames)
                    </p>
                </div>
            </div>
        </div>
        <div class="content-list-delete"></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="content-list">
            <div class="content-list-edit">
                @if (item.IsEditable == true)
                {
                <a class="btn-link btn btn-icon btn-square icon-md icon-edit-line"
                   asp-area="APP"
                   asp-action="Edit"
                   asp-controller="AppAssignee"
                   asp-route-id="@item.Id"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-appId="@ViewBag.appId"
                   asp-route-appType="@ViewBag.AppType"
                   data-title="Редагування"
                   data-tooltipright='1'>
                </a>
                }
                else
                {
                <a class="btn-link btn btn-icon btn-square icon-md icon-eye"
                   asp-area="APP"
                   asp-action="Details"
                   asp-controller="AppAssignee"
                   asp-route-id="@item.Id"
                   asp-route-appType="@ViewBag.AppType"
                   data-title="Перегляд"
                   data-tooltipright='1'>
                </a>
                }
            </div>
            <a class="content-list-link">
                <div class="content-list-item grid-container-nested">
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.FIO)
                            </p>
                        </div>
                    </div>
                    @if (ViewBag.AppType == "TRL")
                    {
                        <div class="grid" data-grid="1">
                            <div class="grid-inner">
                                <p class="content-list-sortable">
                                    @Html.DisplayFor(modelItem => item.AssigneTypeName)
                                </p>
                            </div>
                        </div>
                    }
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.NameOfPosition)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner">
                            <p>
                                @Html.DisplayFor(modelItem => item.DateOfAppointment)
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-inner grid-column">
                            @{
                                foreach (var br in item.ListOfBranchsNames)
                                {
                                    <p>@Html.Raw(br)</p>
                                }

                            }
                        </div>
                    </div>
                </div>
            </a>
            <div class="content-list-delete">
                @if(item.IsEditable){
                    <a class="btn btn-icon btn-square icon-md icon-remove"
                       asp-area="APP"
                       asp-action="Delete"
                       asp-controller="AppAssignee"
                       data-title="Видалити"
                       data-tooltipleft='1'
                       asp-route-id="@item.Id">
                    </a>
                }
            </div>
        </div>
    }
</div>