@model App.Data.DTO.Common.UserDetailsDTO
@{ 
    Layout = null;
}
<div class="modal-inner">
    <h3><i class="icon icon-xlg icon-person-edit-card"></i>Особистий кабінет</h3>
    <div class="modal-inner-content">
        
        <div class="content-details">
            <div class="content-details-group">
                <label>@Html.DisplayNameFor(model => model.FIO)</label>
                <p>@Html.DisplayFor(model => model.FIO)</p>
            </div>
        </div>
        <div class="content-details">
            <div class="content-details-group">
                <label>@Html.DisplayNameFor(model => model.OrgUnitName)</label>
                <p>@Html.DisplayFor(model => model.OrgUnitName)</p>
            </div>
        </div>
        <div class="content-details">
            <div class="content-details-group">
                <label>@Html.DisplayNameFor(model => model.Position)</label>
                <p>@Html.DisplayFor(model => model.Position)</p>
            </div>
        </div>
        <div class="content-details">
            <div class="content-details-group">
                <label>@Html.DisplayNameFor(model => model.EMail)</label>
                <p>@Html.DisplayFor(model => model.EMail)</p>
            </div>
        </div>
    </div>
</div>