@model App.Data.Models.MSG.Message
@{
    ViewData["Title"] = "Повідомлення";

    var fileListLink = ViewBag.IsEditableFile == true ? Url.Action("List", "FileStore", new { Area = "", EntityId = Model.Id, EntityName = "Message" }) :
        Url.Action("List", "FileStore", new { Area = "", EntityId = Model.Id, EntityName = "EDocument", pg_PartialViewName = "ListDetails" });
    var uploadFormLink = Html.Raw(ViewBag.IsEditableFile == true ?
        Url.Action("UploadForm", "FileStore", new { Area = "", EntityId = Model.Id }) + "&EntityName=Message" : "");
}

@section Buttons{
    @if (Model.MessageState == "Project")
    {
        <a class="content-item-btn icon-md icon-edit-line"
           asp-action="EditMessage"
           asp-route-id="@Model.Id"
           data-tab-main
           data-title="Редагувати повідомлення"
           data-tooltipleft='1'>
        </a>
    }
    <a class="content-item-btn icon-lg icon-search-file"
       asp-action="GetMsgPDF"
       asp-controller="MessageTypes"
       asp-area="MSG"
       asp-route-id="@Model.Id"
       data-tab
       data-title="Переглянути повідомлення у формі PDF"
       target="_blank"
       data-tooltipleft='1'>
    </a>
}

@section Scripts{
    <script>
        var uploadFormContainer = $("#uploadForm"),
            fileListLink = "@fileListLink",
            uploadFormLink = "@uploadFormLink",
            fileListContainer = $("#fileList");
        if (uploadFormLink != "")
            mt.getAjaxContainer(uploadFormContainer, uploadFormLink);
        mt.getAjaxContainer(fileListContainer, fileListLink);
    </script>
    <script>

        $('#signButton').click(
            function ()
            {
                window.location.replace(
                "@Html.Raw(Url.Action("Sign", "EuSign", new {Area = "", urlAction = Url.Action("GetMsgFilesForSign", new {id = Model.Id}), urlActionSave = Url.Action("SaveSignedMsgFiles") }))");
            }
        );

    </script>
}

    <div class="content-item-holder">
        <div class="content-item">
            <div class="content-item-header">
                <i class="icon-xlg icon-edit-list"></i>
                <h2>Деталі повідомлення щодо зміни назви аптечного закладу</h2>
            </div>

            <div class="content-item-details">
                <div class="content-item-inner content-details-wrapper col-2">
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>@Html.DisplayNameFor(model => model.MessageDate)</label>
                            <p>@Html.DisplayFor(model => model.MessageDate)</p>
                        </div>
                    </div>
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>@Html.DisplayNameFor(model => model.MessageNumber)</label>
                            <p>@Html.DisplayFor(model => model.MessageNumber)</p>
                        </div>
                    </div>
                </div>
                <div class="content-item-inner content-details-wrapper col-2">
                    @if (Model.IsTrlLicense)
                    {
                        <div class="content-edit">
                            <div class="checkbox-group">
                                <div class="checkbox-group-inner">
                                    <input asp-for="IsTrlLicense" class="checkbox" disabled="disabled" />
                                    <label asp-for="IsTrlLicense">Оптова роздрібна торгівля лікарськими засобами</label>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>Аптека щодо якої необхідно виконати зміни</label>
                            <p>@ViewBag.MpdSelected</p>
                        </div>
                    </div>
                </div>
                <div class="content-item-inner content-details-wrapper col-2">
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>@Html.DisplayNameFor(model => model.NewPharmacyName)</label>
                            <p>@Html.DisplayFor(model => model.NewPharmacyName)</p>
                        </div>
                    </div>
                    <div class="content-details">
                        <div class="content-details-group">
                            <label>@Html.DisplayNameFor(model => model.MessageText)</label>
                            <p>@Html.DisplayFor(model => model.MessageText)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-item">
            <div class="content-item-header">
                <i class="icon icon-xlg icon-list-paperclip"></i>
                <h2 id="additionalDoc">Додаткові документи до повідомлення</h2>
            </div>
            <div class="content-partial" data-tab-empty>
                <div class="upload-edit">
                    <div id="uploadForm">

                    </div>
                    <div id="fileList" class="fileList">

                    </div>
                </div>
            </div>
        </div>
        @if (Model.MessageState == "Project")
        {
            <div class="content-item">
                <div class="content-item-header">
                    <i class="icon icon-xlg icon-clipboard-data"></i>
                    <h2>Подання повідомлення</h2>
                </div>
                <div class="content-partial" data-tab-empty>
                    <div class="content-submit-holder btn-holder">
                        <a class="btn btn-secondary btn-panel"
                           id="signButton"
                           data-tab>
                            <span class="icon icon-huge icon-document"></span>
                            <span>Підписати і відправити повідомлення</span>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>