@using ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<App.Data.DTO.IML.ImlAppListDTO>
@addTagHelper *, ReflectionIT.Mvc.Paging

<div class="content-list-wrapper font-sm" data-pgparams="@ViewBag.FormParamList">
    <div class="content-list content-list-header">
        <div class="content-list-edit"></div>
        <div class="content-list-item grid-container">
            
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.RegDate)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.AppSort)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.NameOrg)
                    </p>
                </div>
            </div>
            <div class="grid" data-grid="1">
                <div class="grid-inner">
                    <p class="content-list-sortable">
                        @Html.SortableHeaderFor(model => model.IPN)
                    </p>
                </div>
            </div>
        </div>
        <div class="content-list-delete"></div>
    </div>

    @foreach (var item in Model)
    {
    <div class="content-list">
        <div class="content-list-edit">
            <a asp-area="Iml" asp-controller="Application" asp-action="Details" class="btn-link btn btn-icon btn-square icon-md icon-eye"
               asp-route-id="@item.Id"
               data-title="Перегляд"
               data-tooltipright='1'>
            </a>
        </div>
        <a class="content-list-link">
            <div class="content-list-item grid-container-nested">
                <div class="grid">
                    <div class="grid-inner">
                        <p>@Html.DisplayFor(modelItem => item.RegDateNumber)</p>
                    </div>
                </div>
                <div class="grid">
                    <div class="grid-inner">
                        <p>@Html.DisplayFor(modelItem => item.AppSort)</p>
                    </div>
                </div>
                <div class="grid">
                    <div class="grid-inner">
                        <p>@Html.DisplayFor(modelItem => item.NameOrg)</p>
                    </div>
                </div>
                <div class="grid">
                    <div class="grid-inner">
                        <p>@Html.DisplayFor(modelItem => item.IPN)</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    }

</div>




